<template>
  <h1>About</h1>

  <h2>King-wen sequence</h2>
  <p>This is the most commonly used sequence of the hexagrams.</p>
  <p>
    The order of this sequence isn't arbitrary. It is connected to the King Wen
    arrangement of the 8 Trigrams, where each trigram resides on an outer cell
    of a 3x3 magic square. This is closely related to the ancient Chinese
    creation myth of the mystical turtle. It marks an important shift in the
    development of Chinese philosophy.
  </p>

  <h2>Yarrow-stalk method</h2>
  <p>
    The yarrow-stalk method is the classic way to generate random hexagrams for
    divination.
  </p>
  <p>
    The most commonly used method is called the three-coin method. While easier
    to use, it leads to slightly different probabilities. The yarrow-stalk
    method favors yang lines.
  </p>
  <p>This software uses the yarrow-stalk method.</p>
</template>
