<script setup lang="ts">
import Glyph from "../components/Glyph.vue";
import HexagramTable from "../components/hexagram-table.vue";
import { trigrams, hexagrams } from "../model";
</script>

<template lang="pug">
div.container
    h1 Explore
    hexagram-table

    h2 Trigrams
    div.grid.grid-cols-2.gap-4
        router-link.flex.p-2.gap-4.items-center(:to="'/trigram/'+trigram.value" v-for="trigram in trigrams")
            glyph.w-32(:value="trigram.value")
            div {{trigram.element}}

    h2 Hexagrams
    div.grid.grid-cols-2.gap-4
        router-link.flex.p-2.gap-4.items-center(:to="'/hexagram/'+hexagram.value" v-for="hexagram in hexagrams")
            glyph.w-32(:value="hexagram.value")
            div {{hexagram.name}}
</template>
