<script setup lang="ts">
import { hexagrams } from "../model";
</script>

<template lang="pug">
div.flex
    h2.flex-grow.text-2xl Hexagrams
    div.view-buttons.flex.gap-4.text-slate-200

div.grid.grid-cols-2.text-xl.gap-8
    router-link(:to="'/hexagram/'+hexagram.value" v-for="hexagram in hexagrams").flex.items-center.gap-8.p-8
        glyph.w-32.h-32(:value="hexagram.value")
    div {{hexagram.name}}
</template>
