<script setup lang="ts">
import { Hexagram } from "../model/hexagram";
import Glyph from "../components/Glyph.vue";

import { useRoute } from "vue-router";
const { params } = useRoute();

const value = params.value as string;
const hex = Hexagram(value);
</script>

<template lang="pug">
div.container.flex.flex-col.gap-8.p-8.items-start.leading-loose.text-lg
  h1.text-4xl {{hex.name}}
  glyph.w-64(:value="value")
  div(v-html="hex.commentary")

  h2.text-3xl Image
  div.grid.grid-cols-3.gap-4
    div Outer Trigram
    glyph.w-64(:value="hex.top.value")
    div
      div {{hex.top.element}}
      div {{hex.bottom.name}}
    div Inner Trigram
    glyph.w-64(:value="hex.bottom.value")
    div
      div {{hex.bottom.name}}
      div {{hex.bottom.element}}
  pre(v-html="hex.image")
  div(v-html="hex.imageCommentary")
  h2.text-3xl Judgement
  pre(v-html="hex.judgement")
  div(v-html="hex.judgementCommentary")
  h2.text-3xl Lines
  template(v-for="i in 6")
    h3.text-2xl Line {{ i }}
    pre.font-mono(v-html="hex.lines[i-1]")
    div(v-html="hex.linesCommentary[i-1]")
</template>

<style>
pre {
  padding: 1rem;
  @apply bg-gray-950;
}
.changing,
.static {
  visibility: visible;
}
</style>
