<script setup lang="ts">
import { useRouter } from "vue-router";

import {
  hexagrams,
  trigrams,
  Hexagram,
  Trigram,
  randomReadingValue,
} from "../model";

const router = useRouter();
</script>

<template lang="pug">

div.container.w-screen.h-screen.place-center.grid
  div.grid.md_grid-cols-2.items-center
    img.w-full(src="/i-ching.svg")

    div.p-16.flex.flex-col.gap-8
      span.text-2xl.font-title.text-slate-200 i-ching
      p.text-xl short descript
      button.ring-1.p-4.text-xl(@click="router.push({name: 'reading', params: {value: randomReadingValue()}})") random
      router-link.ring-1.p-4.text-xl.text-center(to="/browse") explore
</template>

<style lang="scss" scoped></style>
