<script setup lang="ts">
import { Hexagram, Reading } from "../model";
import Glyph from "../components/Glyph.vue";

import { useRoute } from "vue-router";
const { params } = useRoute();

const value = params.value as string;

const lines: string = params.value as string;
const reading = Reading(value);
const hex = reading.present;
</script>

<template lang="pug">
div.container.gap-4.p-2.items-start.leading-loose
  glyph.self-center.w-64(:value="value")
  h1 {{hex.name}}
  div(v-html="hex.commentary")
  h2 Image
  pre(v-html="hex.image")
  div(v-html="hex.imageCommentary")
  h2 Judgement
  pre(v-html="hex.judgement")
  div(v-html="hex.judgementCommentary")
  h2 Changing Lines

  template(v-if="['6', '9'].find((c) => value.split('').includes(c))")
    div.flex.w-full.items-center.gap-8
      div
        glyph.w-64(:value="value")
        h4 {{reading.present.name}}
      div.text-center.flex-grow turning into
      div
        glyph.w-64(:value="reading.future.value")
        h4 {{reading.future.name}}
    template(v-for="i in 6")
      div.flex.gap-8.mt-8.flex-col(:class="['6', '9'].includes(value.charAt(i - 1)) ? 'changing' : 'static'")
        h3 Line {{ i }}
        pre.font-mono(v-html="hex.lines[i-1]")
        div(v-html="hex.linesCommentary[i-1]")
  div(v-else) None

</template>

<style>
.static {
  display: none;
}
.changing h3 {
  @apply text-red-600;
}
</style>
