<script setup lang="ts">
import { Trigram } from "../model";
import { useRoute } from "vue-router";
const { params } = useRoute();
import Glyph from "../components/Glyph.vue";

const trigram = Trigram(params.value as string);
const attrs = ["name", "element", "cename"];
</script>

<template>
  <glyph :value="trigram.value" />
  <table>
    <tr v-for="attr in attrs">
      <th>{{ attr }}</th>
      <td>{{ trigram[attr] }}</td>
    </tr>
  </table>
</template>
