<script setup lang="ts">
const props = defineProps<{ value: string }>();
const h = 64 / 6;
const y0 = 64 / 12;
const lines = props.value.split("").map(Number).reverse();
</script>

<template>
  <svg
    :viewBox="[0, 0, 64, (lines.length * 64) / 6].join(' ')"
    stroke-width="2"
    color="#fff"
    stroke="#fff"
  >
    <template v-for="(line, i) in lines" :key="'glyph-line-' + i">
      <template v-if="[6, 7].includes(line)">
        <line x1="0" x2="64" :y1="y0 + i * h" :y2="y0 + i * h" />
        <g v-if="line === 6" stroke="#f00">
          <line x1="28" :y1="4 + y0 + i * h" x2="36" :y2="-4 + y0 + i * h" />
          <line x1="28" :y1="-4 + y0 + i * h" x2="36" :y2="4 + y0 + i * h" />
        </g>
      </template>
      <template v-if="[8, 9].includes(line)">
        <line :x1="0" :y1="y0 + i * h" :x2="24" :y2="y0 + i * h" />
        <circle
          v-if="line === 9"
          stroke="#f00"
          cx="32"
          :cy="y0 + i * h"
          r="3"
        />
        <line :x1="40" :y1="y0 + i * h" :x2="64" :y2="y0 + i * h" />
      </template>
    </template>
  </svg>
</template>
