<script setup lang="ts">
import { shallowRef, watch } from "vue";
import { TresCanvas, useRenderLoop } from "@tresjs/core";
import { useGLTF, GLTFModel, OrbitControls } from "@tresjs/cientos";

const modelRef = shallowRef(null);
const { onLoop } = useRenderLoop();

onLoop(({ delta, elapsed }) => {
  if (modelRef.value) {
    modelRef.value.rotation.z += delta;
  }
});
const { scene } = await useGLTF("/3d/i-ching.glb");
</script>

<template lang="pug">
div hero
div.h-100.w-100.border
  TresCanvas(alpha, shadows).w-full
    PerspectiveCamera(:position="[0, 128, 0]")
    Suspense
      primitive(:object="scene", ref="modelRef")
    DirectionalLight(:position="[-10, 20, -10]", :intensity="1.5", cast-shadow)
</template>
