<script setup lang="ts">
import Glyph from "../components/Glyph.vue";
import { Hexagram, trigrams } from "../model";
</script>

<template>
  <div
    class="grid grid-cols-9 gap-2 w-full max-w-4xl mx-auto text-center box-border"
  >
    <div class="corner text-sm">
      <div class="text-right">top</div>
      <div class="text-left">bot</div>
    </div>

    <div v-for="top in trigrams">
      <a :href="'/trigram/' + top.value" class="trigram">
        <glyph :value="top.value" />
      </a>
    </div>

    <template v-for="bot in trigrams">
      <a :href="'/trigram/' + bot.value" class="trigram self-end">
        <glyph :value="bot.value" />
      </a>
      <a
        v-for="top in trigrams"
        class="hexagram"
        :href="'/hexagram/' + bot.value + top.value"
      >
        <glyph :value="bot.value + top.value" />
      </a>
    </template>
  </div>
</template>

<style lang="scss">
.hexagram-table > div:nth-child(2n) {
  background-color: #ffffff06;
}

.glyph {
  font-size: 2rem;
}
.trigram svg {
  stroke: var(--trigram-color);
}
.hexagram svg {
  stroke: var(--hexagram-color);
}
</style>
