<script setup lang="ts">
const mode = import.meta.env.MODE;
import { useRoute } from "vue-router";
const route = useRoute();
</script>

<template lang="pug">
template(v-if="route.name !== 'home'")
  header.flex.box-border.bg-gray-900.p-4.gap-4
    router-link.flex-grow.text-xl.font-title(to="/") i-ching
    router-link(to="/about") about
    router-link(to="/browse") browse
    router-link(to="/random") random
main
  router-view(:key="route.path")/
</template>
<style></style>
