@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --hexagram-color: #69f;
  --trigram-color: #9f6;
}
@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-title;
    @apply mt-8;
    @apply mb-4;
  }
  a {
    text-decoration: inherit;
  }

  a:hover {
    @apply bg-slate-700 !important;
    @apply text-slate-100;
  }
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 30px;
}

.card {
  margin-top: 1rem;
  padding: 0.5em;
  background-color: #282828;
  font-size: 1.5rem;
}

ol {
  margin: 0;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 640px) {
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
}

@media (min-width: 1280px) {
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}
.hexagram {
  color: var(--hexagram-color);
}
.trigram {
  color: var(--trigram-color);
}
